{% extends 'base.html.twig' %}

{% block title %}Nouveau Products{% endblock %}

{% block body %}

    <h1>Ajout d'un nouveaux produit</h1>


    {{ include('products/_form.html.twig') }}

    <div class="col-md-8 text-center">
        <a href="{{ path('products_index') }}" class="btn btn-secondary">Retour à la liste</a>
    </div>
</div>

{% endblock %}
