{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
  <form method="post">
    <div class="container py-5 h-100 mt-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong border border-4 border-warning" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              {% if error %}
                  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %} 

              <h3 class="mb-5">Connexion</h3>

              <div class="form-outline mb-4">
                  <label for="inputUsername">Nom d'utilisateur/adresse mail</label>
                  <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
              </div>

              <div class="form-outline mb-4">
                  <label for="inputPassword">Mot de passe</label>
                  <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

              <!-- Checkbox -->
              <div class="checkbox mb-3">
              <label>
                  <input type="checkbox" name="_remember_me"> Se souvenir de moi
              </label>
              </div>
          
              <button class="btn btn-lg btn-primary" type="submit">
                  Se connecter
              </button>
              <hr class="my-4">
              <p class="text-center">Pas encore inscrit?<p>
              <a class="btn btn-lg btn-warning" href="{{ path('app_register') }}">Inscription</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
